 <!DOCTYPE html>
<html>
    <head>
        <!-- Otros meta tags -->
        
    </head>
    <body>
    <h1>Hello {{ user_first_name }}!</h1>
        <p>You have {{ notifications|length }} new notifications.</p>

    </body>
</html>